header {
    margin-bottom: 20px;
    background-color: rgb(244, 79, 79);
    text-align:center;
}

body {
    margin: 0px;
}

h1 {
    margin: 0px;
    color: rgb(255, 255, 255);
}

p {
    margin: 0px;
    font-size: 20px;
}

a {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

main {
    margin: 10px;
}

#parent {
  display: flex;
  margin: 10px;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

div p:nth-of-type(2)::first-letter {
    font-weight: bold;
    color: rgb(97, 206, 249);
}

h2::before {
    content: "⚫︎";
    color: rgb(239, 111, 139);
}

h2 {
    font-size: 25px;
    border-bottom: dotted 3px rgb(236, 122, 122);
}

.contents > img {
    width: 60%;
    height: 60%;
}

.contents {
    flex-basis:25%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    text-align:  center;
    border: 3px solid rgb(238, 204, 204); 
}

footer {
    background-color:rgb(244, 79, 79);
    text-align:  center;
}

a:visited {
    color: rgb(193, 234, 251);
}

a:hover {
    color: rgb(245, 178, 168);
}

@media screen and (max-width: 768px) {
    p {
        font-size: 25px;
    }
    h2 {
        font-size: 30px;
    }
    #parent {
        display: block;
    }
}