#top {
  width: 800px;
  background-color: #dcc9f4;
  text-align: center;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

.top-child {
    display: inline-block;
    background-color: #ffd9df;
    width: 20%;
}

#middle {
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffd9df;
  width: 800px;
  height: 800px;
  position: relative;
}

#middle-child01 {
    width: 200px;
    height: 200px;
    background-color: #87ceeb;
    position: absolute;
    top: 100px;
    left: 100px;
}

#middle-child02 {
    width: 200px;
    height: 200px;
    background-color: #87ceeb;
    position: absolute;
    top: 300px;
    left: 300px;
}

#middle-child03 {
    width: 200px;
    height: 200px;
    background-color: #87ceeb;
    position: absolute;
    top: 500px;
    left: 500px;
}

#bottom {
  margin-left: auto;
  margin-right: auto;
  background-color: #87ceeb;
  width: 800px;
  height: 300px;
}

#bottom-child01 {
    width: 400px;
    height: 100px;
    background-color: #e5dcf0;
    position: relative;
    top: 0px;
    left: 0px;
}

#bottom-child02 {
    width: 400px;
    height: 100px;
    background-color: #e5dcf0;
    position: relative;
    top: 0px;
    left: 200px;
}

#bottom-child03 {
    width: 400px;
    height: 100px;
    background-color: #e5dcf0;
    position: relative;
    top: 0px;
    left: 400px;
}